.NeuralNetworkTest {

}

.NeuralNetworkTestChart {

}

.NeuralNetworkRightCell {
    text-align: right;
    vertical-align: middle;
}

.NeuralNetworkLeftCell {
    text-align: left;
    vertical-align: middle;
}