.Cell {
    color: White;
    vertical-align : middle;
    text-align: center;
    width: 20px;
    height: 20px;
}

/** SELECTION **/

.CellNotSelected {
    background-color: Black;
}

.CellSelected {
    background-color: #AED6F1;
}

/** BLINK ANIMATION **/

@keyframes CellSolidLeftBorderBlinkAnimation {
    50% {
        border-left: Solid 2px White;
    }
}

@keyframes CellSolidRightBorderBlinkAnimation {
    50% {
        border-right: Solid 2px White;
    }
}

@keyframes CellSolidTopBorderBlinkAnimation {
    50% {
        border-top: Solid 2px White;
    }
}

@keyframes CellSolidBottomBorderBlinkAnimation {
    50% {
        border-bottom: Solid 2px White;
    }
}

/** SOLID **/

.CellSolidLeftBorder {
    border-left: Solid 2px #1f1ff2;
}

.CellSolidTopBorder {
    border-top: Solid 2px #1f1ff2;
}

.CellSolidRightBorder {
    border-right: Solid 2px #1f1ff2;
}

.CellSolidBottomBorder {
    border-bottom: Solid 2px #1f1ff2;
}


.CellSolidLeftBorderPink {
    border-left: Solid 2px #f80000;
}

.CellSolidTopBorderPink {
    border-top: Solid 2px #f80000;
}

.CellSolidRightBorderPink {
    border-right: Solid 2px #f80000;
}

.CellSolidBottomBorderPink {
    border-bottom: Solid 2px #f80000;
}


.CellSolidLeftBorderAqua {
    border-left: Solid 2px #00f8f8;
}

.CellSolidTopBorderAqua {
    border-top: Solid 2px #00f8f8;
}

.CellSolidRightBorderAqua {
    border-right: Solid 2px #00f8f8;
}

.CellSolidBottomBorderAqua {
    border-bottom: Solid 2px #00f8f8;
}


.CellSolidLeftBorderOrange {
    border-left: Solid 2px #f89800;
}

.CellSolidTopBorderOrange {
    border-top: Solid 2px #f89800;
}

.CellSolidRightBorderOrange {
    border-right: Solid 2px #f89800;
}

.CellSolidBottomBorderOrange {
    border-bottom: Solid 2px #f89800;
}


.CellSolidLeftBorderPurple {
    border-left: Solid 2px #0000f8;
}

.CellSolidTopBorderPurple {
    border-top: Solid 2px #0000f8;
}

.CellSolidRightBorderPurple {
    border-right: Solid 2px #0000f8;
}

.CellSolidBottomBorderPurple {
    border-bottom: Solid 2px #0000f8;
}



/** PARTIAL **/

.CellPartialLeftBorder {
    border-left: Solid 2px white;
}

.CellPartialTopBorder {
    border-top: Solid 2px white;
}

.CellPartialRightBorder {
    border-right: Solid 2px white;
}

.CellPartialBottomBorder {
    border-bottom: Solid 2px white;
}

/** DOTS **/

@keyframes blink {
    0% {
        background-image: none;
    }
    100% {
        background-image: url(./images/BigDot.png);
    }
}
@-webkit-keyframes blink {
    0% {
        background-image: none;
    }
    100% {
        background-image: url(./images/BigDot.png);
    }
}

.CellBigDot {
    background-image: url(./images/BigDot.png);
    background-size: 96% 96%;
    animation: blink 0.5s infinite;
    -webkit-animation: blink 0.5s infinite;
}

.CellLittleDot {
    background-image: url(./images/LittleDot.png);
    background-size: 96% 96%;
}

/** INACTIVE **/

.CellInActive {
    background-image: url(./images/red-x.png);
    background-size: 96% 96%;
}
