.Entity {
    background: url(./images/PacManSprites.png) no-repeat;
    background-size: 478px 175px;
}

.RowEntity {
    width: 28px;
    height: 28px;
}

/** MRS PAC MAN **/

.MrsPacManRightOpen {
    background-position: -2px -2px;
}

.MrsPacManRightMid {
    background-position: -30px -2px;
}

.MrsPacManRightClose {
    background-position: -58px -2px;
}

.MrsPacManLeftOpen {
    background-position: -2px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.MrsPacManLeftMid {
    background-position: -30px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.MrsPacManLeftClose {
    background-position: -58px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.MrsPacManUpOpen {
    background-position: -2px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.MrsPacManUpMid {
    background-position: -30px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.MrsPacManUpClose {
    background-position: -58px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.MrsPacManDownOpen {
    background-position: -2px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.MrsPacManDownMid {
    background-position: -30px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.MrsPacManDownClose {
    background-position: -58px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

/** PAC MAN **/

.PacManRightOpen {
    background-position: -86px -2px;
}

.PacManRightMid {
    background-position: -114px -2px;
}

.PacManRightClose {
    background-position: -142px -2px;
}

.PacManLeftOpen {
    background-position: -86px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.PacManLeftMid {
    background-position: -114px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.PacManLeftClose {
    background-position: -142px -2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.PacManUpOpen {
    background-position: -86px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.PacManUpMid {
    background-position: -114px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.PacManUpClose {
    background-position: -142px -2px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.PacManDownOpen {
    background-position: -86px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.PacManDownMid {
    background-position: -114px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.PacManDownClose {
    background-position: -142px -2px;
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

/** RED **/

.GhostRedRight1 {
    background-position: -2px -30px;
}

.GhostRedRight2 {
    background-position: -30px -30px;
}

.GhostRedLeft1 {
    background-position: -2px -30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostRedLeft2 {
    background-position: -30px -30px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostRedDown1 {
    background-position: -58px -30px;
}

.GhostRedDown2 {
    background-position: -86px -30px;
}

.GhostRedUp1 {
    background-position: -114px -30px;
}

.GhostRedUp2 {
    background-position: -142px -30px;
}

/** ORANGE **/

.GhostOrangeRight1 {
    background-position: -2px -58px;
}

.GhostOrangeRight2 {
    background-position: -30px -58px;
}

.GhostOrangeLeft1 {
    background-position: -2px -58px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostOrangeLeft2 {
    background-position: -30px -58px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostOrangeDown1 {
    background-position: -58px -58px;
}

.GhostOrangeDown2 {
    background-position: -86px -58px;
}

.GhostOrangeUp1 {
    background-position: -114px -58px;
}

.GhostOrangeUp2 {
    background-position: -142px -58px;
}

/** PINK **/

.GhostPinkRight1 {
    background-position: -2px -86px;
}

.GhostPinkRight2 {
    background-position: -30px -86px;
}

.GhostPinkLeft1 {
    background-position: -2px -86px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostPinkLeft2 {
    background-position: -30px -86px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostPinkDown1 {
    background-position: -58px -86px;
}

.GhostPinkDown2 {
    background-position: -86px -86px;
}

.GhostPinkUp1 {
    background-position: -114px -86px;
}

.GhostPinkUp2 {
    background-position: -142px -86px;
}

/** BLUE **/

.GhostBlueRight1 {
    background-position: -2px -114px;
}

.GhostBlueRight2 {
    background-position: -30px -114px;
}

.GhostBlueLeft1 {
    background-position: -2px -114px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostBlueLeft2 {
    background-position: -30px -114px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.GhostBlueDown1 {
    background-position: -58px -114px;
}

.GhostBlueDown2 {
    background-position: -86px -114px;
}

.GhostBlueUp1 {
    background-position: -114px -114px;
}

.GhostBlueUp2 {
    background-position: -142px -114px;
}

/** SCARED **/

.GhostScared1 {
    background-position: -2px -142px;
}

.GhostScared2 {
    background-position: -30px -142px;
}

/** DEAD **/

.GhostDead1 {
    background-position: -58px -142px;
}

.GhostDead2 {
    background-position: -86px -142px;
}

/** POWER UPS **/
.Cherry {
    background-position: -177px -5px;
}

.Strawberry {
    background-position: -204px -5px;
}

.Peach {
    background-position: -233px -5px;
}

.Pretzel {
    background-position: -261px -5px;
}

.Apple {
    background-position: -289px -5px;
}

.Pear {
    background-position: -316px -5px;
}

.Banana {
    background-position: -343px -5px;
}

.Key {
    background-position: -373px -5px;
}

/** ACT **/
.ActEntity {
    width: 60px;
    height: 60px;
}

.ActOpen {
    background-position: -175px -35px;
}

.ActMid {
    background-position: -238px -35px;
}

.ActClosed {
    background-position: -305px -35px;
}

/** EYES **/

.EyesRight {
    background-position: -170px -96px;
}

.EyesLeft {
    background-position: -170px -96px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.EyesDown {
    background-position: -196px -96px;
}

.EyesUp {
    background-position: -224px -96px;
}

/** HEART? **/

.Heart {
    background-position: -125px -144px;
}

/** TINY ICONS **/

.TinyIcon {
    width: 16px;
    height: 16px;
}

.Potion {
    background-position: -168px -153px;
}

.Life {
    background-position: -196px -153px;
}

/** SWAN **/

.Swan {
    width: 64px;
    height: 32px;
}

.SwanUp {
    background-position: -235px -140px;
}

.SwanDown {
    background-position: -303px -140px;
}

/** BIG SCORE **/

.BigScore {
    width: 32px;
    height: 16px;
}

.BigScore200 {
    background-position: -257px -103px;
}

.BigScore400 {
    background-position: -293px -103px;
}

.BigScore800 {
    background-position: -332px -103px;
}

.BigScore1600 {
    background-position: -369px -103px;
}

/** ROW SCORE **/

.Score100 {
    background-position: -371px -38px;
}

.Score200 {
    background-position: -397px -38px;
}

.Score500 {
    background-position: -423px -38px;
}

.Score700 {
    background-position: -450px -38px;
}

.Score1000 {
    background-position: -371px -69px;
}

.Score2000 {
    background-position: -397px -69px;
}

.Score5000 {
    background-position: -423px -69px;
}

