.Game {
    overflow: hidden;

}

.GameLevel {

}

.GameLevelEditorPanel {
    position: absolute;
    top: 0;
    right: -444px;
    float: right;
    animation: GameLevelEditorPanelShowAnimation 1s forwards;
    -webkit-animation: GameLevelEditorPanelShowAnimation 1s forwards;
}

@keyframes GameLevelEditorPanelShowAnimation {
    100% {
        right: 0;
    }
}

.GameLevelEditorPanelHide {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    animation: GameLevelEditorPanelHideAnimation 1s forwards;
    -webkit-animation: GameLevelEditorPanelHideAnimation 1s forwards;
}

@keyframes GameLevelEditorPanelHideAnimation {
    100% {
        right: -444px;
    }
}

.ButtonToggleEdit {
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(steelblue, midnightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(steelblue, midnightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(steelblue, midnightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(steelblue, midnightblue); /* Standard syntax */
    color: White;
    font-family: Arial;
    border: Solid 2px Orange;
    width: 32px;
    height: 200px;
}

.ButtonToggleEdit:hover {
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(LimeGreen, darkgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(LimeGreen, darkgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(LimeGreen, darkgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(LimeGreen, darkgreen); /* Standard syntax */
    color: Orange;
    font-family: Arial;
    border: Solid 2px Orange;
    width: 32px;
    height: 200px;
}

.ButtonToggleEditText {
    -moz-transform: rotate(-90deg) translateX(-90px);
    -o-transform: rotate(-90deg) translateX(-90px);
    -webkit-transform: rotate(-90deg) translateX(-90px);
    transform: rotate(-90deg) translateX(-90px);
}

